body {
    height: 300vh;

}

.container {
    width: 400px;
    height: 400px;
    background-color: aqua;
    /* position: relative; */
 
}

.box { 
    top: 5vh; 
    position: absolute;
   left: 400px;
    width: 200px;
    height: 200px;
    background-color: brown;
   
}